.background{
  background-color: #242424;
}
.ant-carousel{
    position: relative;
    display: contents;
}
.ant-carousel .slick-slide {
    margin-top: 20px;
    text-align: center;
    height: 100px;
    width: 160px;
    overflow: hidden;
    background: black;
    overflow: hidden;
  }
  
.ant-carousel .slick-slide h3 {
    color: #fff;
    line-height: 60px;
    width: 450px;
    margin:"auto";
    padding-left: 115px;
    font-size: 30px;
  }

h2{
  color: #fff;
}