.background{
  background-color: #242424;
}
.ant-carousel{
    position: relative;
    display: contents;
}
.ant-carousel .slick-slide {
    margin-top: 20px;
    text-align: center;
    height: 100px;
    width: 160px;
    overflow: hidden;
    background: black;
    overflow: hidden;
  }
  
.ant-carousel .slick-slide h3 {
    color: #fff;
    line-height: 60px;
    width: 450px;
    margin:"auto";
    padding-left: 115px;
    font-size: 30px;
  }

  /*pagination*/

.ant-pagination-item{
    color: white !important;
    background-color: #101010 !important;
    border-radius: 3 !important;
    border: 1px solid white !important;
}

.ant-pagination-item-link{
    color: #01d277 !important;
    background-color: #101010 !important;
    border-radius: 1 !important;
    border: 1px solid #01d277 !important;
}
.ant-pagination-item-active{
    background-color: #101010 !important;
    border-radius: 3 !important;
    border: 2px solid #01d277 !important; 
}
.ant-pagination-item-active a {
    color: #01d277 !important;
}

h2{
  color: #fff;
}